<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <style>
        body{
            background-image: url(/images/photo-1477346611705-65d1883cee1e.jpeg);
        }
        h5{
            text-align: center;
        }
        .mainContainer{
            /* border: 1px solid; */
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: 50%;
            width: 50%;
            margin: auto;
            margin-top: 10%;
            /* justify-content: center;
            align-items: center; */
        }
        .login,.update{
            color: white;
            border: 1px solid ;
            border-radius: 8px;
            padding: 20px;
            backdrop-filter: blur(12px);
        }
        .register{
            backdrop-filter: blur(12px);
            color: white;
            border: 1px solid;
            border-radius: 8px;
            padding: 20px;
        }
        /* #deletbtn{
            width: 60px;
            height: 40px;
        } */
    </style>
  </head>
  <body>
    <div class="mainContainer">
        <div class="register">
            <h5>For register</h5>
            <form action="/auth/register" method="post" enctype="multipart/form-data" id="registerform">
                <div class="mb-3">
                  <label for="name" class="form-label">Enter Name</label>
                  <input type="text" class="form-control" id="name" name="name" />
                </div>
              
                <div class="mb-3">
                  <label for="mail" class="form-label">Enter Email</label>
                  <input type="email" class="form-control" id="mail" name="mail" />
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
              
                <div class="mb-3">
                  <label for="password" class="form-label">Enter Password</label>
                  <input type="password" class="form-control" id="password" name="password" />
                </div>
              
                <div class="mb-3">
                  <label for="image" class="form-label">User Image</label>
                  <input type="file" class="form-control" id="image" name="image" />
                </div>
              
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
              
</div>
<div class="login">
    <h5>For Login</h5>
    <form action="" id="loginForm">
        <div class="mb-3">
            <label for="mail" class="form-label">Enter Email</label>
            <input type="email" class="form-control" id="mail" name="mail" />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Enter Password</label>
            <input type="password" class="form-control" id="password" name="password" />
          </div>
        
      <button type="submit" id="loginFormbtn" class="btn btn-primary">login</button>
    </form>
</div>
<div class="update">
    <h5>For update</h5>
    
    <form action="" method="" id="updateForm">
        <div class="mb-3">
            <label for="mail" class="form-label">Enter Email</label>
            <input type="email" class="form-control" id="mail" name="mail" />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Enter Name</label>
            <input type="text" class="form-control" id="name" name="name" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Enter Password</label>
            <input type="password" class="form-control" id="password" name="password" />
          </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
    <button id="deletbtn" class="btn btn-primary">Delete </button>
    <!-- <button id="forgotbtn" class="btn btn-primary">Forgot Password </button> -->

    <div class="container mt-4">
      <button id="showUsersBtn" class="btn btn-primary mb-4">
        Show All Users
      </button>
      <button id="" class="btn btn-primary mb-4">Show user</button>
      <div class="islogin"></div>
      <div id="usersContainer" class="d-flex flex-wrap gap-3">
        <!-- Cards will appear here -->
      </div>
    </div>
</div>
    <script>
      document
        .getElementById("deletbtn")
        .addEventListener("click", async () => {
          try {
            const res = await fetch("/softdelete", {
              method: "PATCH",
            });

            const data = await res.json();
            console.log("Server Response:", data);
          } catch (err) {
            console.error("Error:", err);
          }
        });
      

      document
        .getElementById("updateForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const formData = new URLSearchParams(new FormData(this));

          try {
            const res = await fetch("/update", {
              method: "PUT",
              headers: { "Content-Type": "application/x-www-form-urlencoded" },
              body: formData,
            });

            const data = await res.json();
            console.log("Server Response:", data);
          } catch (err) {
            console.error("Error:", err);
          }
        });

      //  prevent default
      document
        .getElementById("loginForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const formData = new URLSearchParams(new FormData(this));

          try {
            const res = await fetch("/auth/login", {
              method: "POST",
              headers: { "Content-Type": "application/x-www-form-urlencoded" },
              body: formData,
            });

            const data = await res.json();
            console.log("Server Response:", data);
          } catch (err) {
            console.error("Error:", err);
          }
        });

        // register form
      document
        .getElementById("registerform")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const formData = new FormData(this);

          try {
            const res = await fetch("/auth/register", {
              method: "POST",
            
              body: formData,
            });

            const data = await res.json();
            console.log('hello');
            
            // console.log('data',data.data);
            // console.log("Server Response:", data);
            
             const mail=data.data
             localStorage.setItem("mail", mail);
             window.location.href = "/auth/verifypage";
          } catch (err) {
            console.error("Error:", err);
          }
        });

      document
        .getElementById("showUsersBtn")
        .addEventListener("click", async () => {
          try {
            const res = await fetch("/allUser");
            const data = await res.json();
            const users = data.data;
            console.log(data);
            
            // localStorage.setItem("users", JSON.stringify(users));
            // window.location.href ="/users"
              
             
          } catch (err) {
            console.error(err);
          }
        });
      //show 1 user only
     
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
